.home-container
{
    margin: 80px;
}

.brand-image {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: auto;
}

.home-banner img{
    width: 100%;
    height: 200px;
}

.home-welcome h1{
    margin-bottom: 2px;
    line-height: 1.2;
}

.home-welcome p {
    margin-top: 0px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.45);
}

.brand-name {
    color: #EA7300;
    font-size: 48px;
}

.home-trending h2{
    margin-bottom: 2px;

}


.full-align {
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}
.button-stack {
    position: relative;
    display: inline-block;
}
.button-stack .button-back {
  background-color: #FFA837F0;
  box-shadow: 0 4px 8px rgba(238, 154, 9, 0.4);
  height: 45px;
  width: 260px;
  position: absolute;
  opacity: 80%;
  margin-top:8px ;
  border-radius: 0px;
  rotate: 3deg;
}
.button-stack .button-front {
  background-color: #FF7C00;
  color: #ffffff;
  height: 50px;
  width: 260px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  opacity: 85%;
  border: none;
  box-shadow: 0 4px 8px rgba(255, 125, 0, 0.3);
}
.button-stack .button-front .topic-icons {
    color: #ffffff;
    font-size: 1.5em;
}





.full-align  h3 {
    padding: 10px 20px;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 0px;
    background-color: #FF7C00;
    /* border-radius: 15px; */
}

.full-align img {
    height: 25px;
    width: 25px;
}

.home-highlight-style {
    color: #EA7300;
    font-size: 32px;
}

.cuisine-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 20px;
    padding-left: 270px;
    padding-right: 270px;
    margin-bottom: 10px;
}

.cuisine-box {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(175, 174, 172, 0.4);
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: white;
    margin-top: 10px;
    gap: 10px;
}
.cuisine-box:hover {
    background-color: #FF7C00;
    color: #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(238, 154, 9, 0.4);
}

.cuisine-box:hover .cuisine-icons {
    color: white;
}


.cuisine-icons{
    color: #EA7300;
    font-size: 2.0em;
    
}


.view-all {
    position: absolute;
    right: 0;
    margin-right: 45px;
    height: 45px;
    width: 130px;
    color: #ffffff;
    background: linear-gradient(to left, #ff9a0e, #ffba26);
    border-radius: 20px;
    border: none;
    gap: 2px;
    box-shadow: 0 8px 10px rgba(255, 154, 14, 0.4);
    font-weight: 700;
    font-size: 15px;
    
}

.view-all .right-arrow {
    padding-top: 8px;
    color: #ffffff;
    font-size: 1.5em;
}

.home-popular-cards .results .card-grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(300px, 1fr));
  gap: 20px;
  scroll-snap-align: start;
}

.home-popular-cards {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
}

.home-popular-cards::-webkit-scrollbar {
  display: none;
}

.home-trending-cards .results .card-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  scroll-snap-align: start;
}

.home-trending-cards {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  padding: 12px 16px;
}

.home-trending-cards::-webkit-scrollbar {
  display: none;
}



/* Blog section */

.kitchen-banner {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 100%;
  }
  
  .kitchen-text {
    flex: 1;
    background-color: #ffb431;
    padding: 10px 20px 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .kitchen-text h2 {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-shadow: #00000075 1px 2px 2px ;
  }
  
  .kitchen-text .highlight {
    color: #d33a00;
    font-weight: bold;
  }
  
  .kitchen-text .bold {
    font-weight: bold;
    color: #000;
  }
  
  .kitchen-text p {
    font-size: 1rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  
  .read-more {
    background-color: #ffb431;
    color:white;
    border: 2px solid white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    width: 250px;
  }
  .about-us-button {
    background-color: #ffb431;
    color:white;
    border: 2px solid white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    width: 160px;
  }
  
  .read-more:hover,.about-us-button:hover {
    background-color: white;
    color: #ffb431;
  }
  
  .kitchen-image {
    flex: 1;
    min-height: 300px;
  }
  
  .kitchen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  /* About Us section */
  .feature-banner {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #ffa726;
    border-radius: 15px;
  }
  
  .feature-left {
    flex: 1;
    min-width: 300px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .feature-left h3 {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
  }
  
  .platform-name {
    display: inline-block;
    margin-right: 8px;
    padding: 6px 12px;
    background-color: #ff5722;
    color: white;
    border-radius: 50px;
  }
  
  .cta-box {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.514) 2px 4px 12px;
  }
  
  .cta-box p {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  
  .cta-highlight {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e65100;
  }
  
  .cta-highlight span {
    color: #000000;
  }
  
  .feature-right {
    flex: 1;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 15px 0;
  }
  
  .icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .icon-box .icon {
    font-size: 2rem;
    color: #ff7b00;
    margin-bottom: 0.5rem;
  }
  
  .icon-box p {
    margin: 0;
    font-size: 0.8rem;
    color: #333;
  }
  
  .feature-gap {
    padding-left: 150px;
    margin-right: 40px;
  }
  
  

  /* Responsive Media Queries */
@media screen and (max-width: 768px) and (min-width: 220px) {
  .home-container
  {
    margin: 70px 10px 30px 10px;
  }

  .brand-name {
    font-size: 2.5rem;
  }

  .button-stack .button-front,
  .button-stack .button-back {
    width: 100%;
  }

  .kitchen-image img{
    border-radius: 0px 0px 25px 25px;
  }

  .platform-name {
    margin-right: 0px;
  }

  .cuisine-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: start;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .cuisine-box{
    width: 60%;
    height: 60%;
  }

  .feature-banner {
    flex-direction: column;
  }
  
  .feature-left{
    padding-left: 2px;
    width: 50%;
    align-items: center;

  }

  .about-container {
    /* scale: 0.9; */
  }

 
  .kitchen-banner {
    flex-direction: column;
  }

  .icon-box {
    width: 60%;
    aspect-ratio: 5 / 3;
    margin-left: 10px;
  }

  .kitchen-text {
    padding: 20px;
  }

  .home-welcome h1 {
    font-size: 1.5rem;
  }

  .view-all {
    margin-right: 0px;
    scale: 0.8;
  }
}