.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #EA7300;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  color: #ffffff;
  flex-wrap: wrap;
}

.nav-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-brand h2:hover{
  color: #000000;
}

.navbar img {
  height: 35px;
  width: 35px;
  object-fit: contain;
  margin-right: 10px;
}

.nav-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.nav-content {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-content li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-content li a:hover {
  color: #000000;
}

.nav-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.search-icon:hover
{
  color: #000000;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-content {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #EA7300;
    padding: 10px 0;
  }

  .nav-content.open {
    display: flex;
  }

  .nav-search {
    margin-top: 10px;
    width: 100%;
  }

  .nav-search input {
    width: 100%;
  }

  .hamburger {
    display: block;
  }
}
