.main-container {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px 50px 20px 50px;
  margin-top: 50px;
  background-color: #fff;
}

.filters {
  padding-right: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  border: 1px solid #d0cece;
  border-radius: 10px;
  width: 127px;
  margin-top: 100px;
  margin-right: 20px;
  height: 100%;
}

.filter-word{
  padding-left: 35px;
}

.filters h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ff7b00;
}

.filter-option {
  font-size: 13px;
  cursor: pointer;
  
  color: #333;
  display: block;
}

.filter-option:hover {
  color: #ff7b00;
  font-weight: bold;
}

.content {
  flex: 1;
}

.search-header {
  display: flex;
  margin: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 96%;
  padding: 10px 15px;
  display: flex;
  font-size: 16px;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  outline: none;
  background-color: #f5f5f5;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #ff7b00;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  display: flex;
 
}
input[type="checkbox"] {
  accent-color: #ff7b00;
  cursor: pointer;
}


.filter-button {
  padding: 10px 20px;
  background-color: #ff7b00;
  border-radius: 20px;
  color: white;
  border: 0px solid #ff7b00;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  display: flex;
}


.search-button .search-icon {
  margin-right: 22px;
  font-size: 20px;
}

.search-button:hover {
  background-color: #e76f00;
}

.results .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.results{
  padding: 20px 20px 20px 20px;
}

.results .no-results {
  text-align: center;
  font-size: 25px;
  color: #ff7b00;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.filters .filter-line{
  background-color: #ff7b00;
  height: 1px;
  border: none;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 96%;
  background: white;
  border: 1px solid #f5f5f5;
  border-top: none; 
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.suggestions-dropdown li {
  color: black;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.suggestions-dropdown li:hover {
  background: #ff7b00;
  color: white;
}


.prev-button {
  padding: 10px 10px;
  background-color: #ff7b00;
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  /* margin-left: 20px; */
  display: flex;
}
.next-button {
  padding: 10px 10px;
  background-color: #ff7b00;
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  display: flex;
}
.page-numbers {
  font-size: 14px;
  color: #828282;
  margin: 0px 5px 0px 5px;
}



@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    padding: 20px;
  }

  .filters {
    width:25%;
    margin-top: 20px;
    margin-right: 0;
  }

  .search-input {
    width: 100%;
  }

  .results .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
