.blog-table input,
.blog-table textarea {
  min-width: 200px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border:1px solid #ccc;
  border-radius: 5px;
}

.blog-table th {
  background-color: #1e2730;
  color: #fff;
  font-weight: bold;
}

.blog-table button {
  padding: 6px 10px;
  margin: 2px;
  cursor: pointer;
}

.table-container {
  margin-top: 20px;
}


.title{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #2c3e50;
}

.suggestion-list {
  position: absolute;
  top: 38px;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 0 0 4px 4px;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.new-row{
    background-color: #f0f8ff;
}

.add-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
}